// Your footer style

body>footer {
    position: relative;
    margin: 0 auto;
    padding: 6.25rem 0;
    overflow: hidden;
}

footer img {
  width:200px;
}

footer a {
  color: white;
}

.bg-dark {
    background-color: #151515 !important;
}

.QR{
  width: 300px;
}
